@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300&display=swap');

:root {
  --main-acent-color: #0290ff;
}

body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}


